.navredes {
    display: flex;
    gap: 5px;
    img{
    height: 16px;
    width: 16px;
}
}
.navcontacto li a{
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    grid-area: navbar;
    background-color: $background-general;
    img{
        max-width: 100px;
        max-height: 100px;}


}
.navegador{
    display: flex;
    list-style: none;
    font-size: 12px;
    gap: 4px;
    li a {
    text-align: center;
    text-decoration: none;
    color: white;
}
}